/* Small Device */

@media screen and (max-width: 576px) {
    .nav-container,
    .nav-items {
        flex-direction: column;
    }   
    .nav-container {
        gap: 4rem;
    }
    .nav-icon {
        width: 100%;
        justify-content: center;
    }

    .nav-items {
        gap: 2rem;
    }

    .nav-items .follow-us-container {
        margin-top: .8rem;
    }
    
    .banner-container {
        flex-direction: column;
    }

    .banner-text{
        width: 100%;
        align-items: center;
    }

    .banner-btn {
        width: 65%;
        justify-content: center;
        gap: 1rem;

    }

    .banner-img {
        width: 100%;
        height: 1000px;
        /* background-size: 100%; */
    }

    .know-more-container {
        flex-direction: column-reverse;
        margin-top: 25rem;
        margin-bottom: 0rem;
        gap: 2rem;
    }

    .know-more-img,
    .know-more-content {
        width: 100%;
        align-items: center;
        gap: 1rem;
    }

    .know-more-content p,
    .purpose p{
        text-align: center;
    }

    .purpose p:last-child {
        font-size: 1.2rem;
    }

    .know-more-btn {
        font-size: .6rem;
        padding: .6rem 1rem;
    }

    .game-video-section {
        margin-top: 5rem;
        width: 80%;
        margin-bottom: 3rem;
    }

    .game-video-content {
        width: 100%;
    }

    .game-video-content > h1 {
        font-size: 4.5vw;
    }
    
    .game-video-content > p {
        font-size: 2vw;
    }

    .game-videos {
        width: 70%;
        margin: 0 auto;
    }

    .game-videos .game-card > p{
        font-size: 1.8vw;
        text-align: center;

    }

    .game-videos {
        row-gap: 2rem;
    }

    .game-promo-section {
        flex-direction: column;
        width: 80%;
        margin-bottom: 5rem;
        align-items: center;
        gap: 2rem;
    }

    .game-promo-section div {
        width: 80%;
    }

    .game-promo-content {
        align-items: center;
    }

    .game-promo-content h3 {
        font-size: 1.8rem;
    }

    .game-promo-content p {
        font-size: .6rem; 
        line-height: 1rem;
        text-align: center;
        margin-top: 2rem;
    }

    .game-promo-img {
        margin-left: 2rem;
    }

    .game-promo-img .inside-img {
        width: 45%;
        margin-top: -35%;
        margin-left: -23%;
    }
    
    .game-type-section {
        width: 85%;
        row-gap: .5rem;
        margin-top: 0rem;
        border: none;
        justify-content: start;
    }

    .game-type-section .card-t:nth-child(2n) {
        width: 35%;
    }

    .game-type-section .card-t:nth-child(2n - 1) {
        width: 28%;
    }

    .game-type-section .card-t:nth-child(7) {
        width: 37%;
    }

    .game-type-section .card-t:nth-child(8) {
        width: 28%;
    }

    .game-type-section .card-t:last-child{
        width: 30%;
    }

    .game-type-section .card-t img {
        width: 20%;
    }
    
    .game-type-section  .card-t img {
        width: 22%;
    }
    
    .game-type-section .card-t h3 {
        width: auto;
        font-size: .5rem;
    }

    footer{
        padding: 2rem 0;
    }

    .footer-title img {
        width: 30%;
    }
    
    .footer-title h2 {
        font-size: 2rem;
    }
    
    .footer-content, 
    .footer-privacy,
    .footer-icons {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer-content {
        width: 55%;
        justify-content: space-evenly;
    }

    .footer-content p {
        font-size: .6rem;
    }

    .footer-icons {
        width: 40%;
    }

    .footer-container .footer-icons button {
        width: 14%;
        height: 3rem;
        padding: 0;
        position: relative;
    }

    .footer-container .footer-icons button .footer-icon {
        width: 100%;
    }

    .footer-privacy {
        width: 60%;
        justify-content: space-around;
    }

    .footer-privacy p,
    .footer-last{
        font-size: .5rem;
    }

    .footer-last {
        flex-direction: column;
        width: 40%;
        text-align: center;
    }
}
