@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Primary Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF42A5;
    --cyan-secondary: #4EC5F7;
    --text-color: #3C354F;
}

body {
    font-family: 'Work Sans', sans-serif;
}

button {
    border: none;
    background-color: transparent;
}

.primary-color {
    color: var(--primary-color);
}

.primary-bg-color {
    background-color: var(--primary-color);
}

p {
    color: var(--text-color);
}

img {
    width: 100%;
}

.gradient-text {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navbar related style */
nav {
    width: 100%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    max-width: 1048px;
    width: 80%;
    margin: 0 auto 2rem;
}

.nav-icon > h2,
.nav-icon > .fa-gamepad {
    font-size: 2.5rem;
}

.nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.nav-items,
.follow-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.follow-us-container {
    border-radius: .5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: .8rem;
}

/* banner related style */
.banner {
    width: 100%;
    height: 61vh;
}

.banner-container {
    max-width: 1048px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.banner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 2rem 0;
}

.banner-btn .sign-in-btn,
.banner-btn .go-rogue-btn {
    color: #FFF;
    font-size: .8rem;
    font-weight: 600;
    padding: .7rem 1.3rem;
    border-radius: 1.5rem;
}

.banner-text > h1 {
    font-size: 2rem;
    font-weight: 600;
}

.banner-text > h2 {
    font-size: 4rem;
}

.banner-btn .go-rogue-btn {
    background-color: #4EC5F7;
}

.banner-btn {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.banner-img img {
    width: 100%;  
}

.banner-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}


/* know more section */
.know-more-container {
    max-width: 1048px;
    margin: 8rem auto 2rem;
    width: 80%;
    display: flex;
}

.know-more-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.know-more-content h1 {
    font-size: 2rem;
}

.know-more-content p {
    text-align: right;
    width: 95%;
    font-weight: 400;
}

.know-more-content .know-more-text {
    font-size: .8rem;
}

.know-more-img {
    width: 55%;
}

.know-more-btn {
    color: white;
    font-weight: 600;
    padding: .8rem 1.2rem;
    border-radius: 1.2rem;
}

.purpose {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}

.purpose p:first-child {
    font-size: 1rem;
    font-weight: 500;
}

.purpose p:last-child {
    font-size: 1.5rem;
    font-weight: 700;
}

/* game video section */
.game-video-section {
    max-width: 1048px;
    width: 80%;
    margin: 8rem auto;
}

.game-video-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.game-video-content > p {
    font-size: 1vw;
}

.game-video-content > h1 {
    font-size: 3vw;
}

.game-videos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1rem;
}

.game-videos .game-card > p{
    font-size: 1.1vw;
}

.game-videos .game-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;   
}

.game-videos .game-card:hover .card-image {
    filter: brightness(40%);
}

.game-videos .game-card .card-image {
    position: relative;
    transition: all .2s ease-in-out;  
}

.play-btn img {
    width: 30%;
}

.play-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    display: none;
}

.game-videos .game-card:hover .play-btn {
    display: block;
}

/* game promo section  */
.game-promo-section {
    max-width: 1048px;
    margin: 2rem auto 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.game-promo-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: .5rem;
}

.game-promo-content p {
    width: 70%;
    color: #534C64;
    font-weight: 400;
    line-height: 2rem;
    font-size: .8rem;
    text-align: right;
}

.game-promo-content h3 {
    font-size: 2.5rem;
}

.game-promo-img {
    width: 40%;
    position: relative;
}

.inside-img {
    width: 50%;
    margin-top: -40%;
    margin-left: -23%;
}

/* game type section */
.game-type-section {
    max-width: 1048px;
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
}

.game-type-section .card-t {
    width: max-content;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .3rem .5rem;
    transition: all .2s ease-in-out;
    transition: color .01s ease-in-out;
    border-radius: 3rem;
    border: .1px solid white;
}

.game-type-section .card-t:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.game-type-section .card-t img {
    width: 22%;
}

/* .game-type-section  .card1 img {
    width: 25%;
} */

.game-type-section .card-t h3 {
    font-size: .9rem;
    width: max-content;
}

/* footer style */
footer {
    width: 100%;
    background-color: #0B0223;
    margin-top: 9rem;
}

.footer-container {
    max-width: 1048px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    padding: 3rem;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
}

.footer-title img {
    width: 15%;
}

.footer-title h2 {
    font-size: 2rem;
    color: white;
}

.footer-content, 
.footer-icons,
.footer-privacy {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-content p {
    color: white;
    font-size: .8rem;
}

.footer-icons button {
    width: 6%;
}

.footer-privacy p,
.footer-last {
    font-size: .7rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}

.footer-last {
    display: flex;
    gap: .4rem;
}